/* RESET  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Whitney", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
  max-width: 100%;
}

/* HEADER */
.header {
  min-height: 80px;
  padding-top: 10px;
  /* debug */
  background-color: #255ee9;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* background-color: rgba(218, 165, 32, 255); */
}

.nav {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  /* font-size: 20px; */
  font-weight: normal;
  padding: 15px;
}

.nav a {
  color: white;
  text-decoration: none;
}

.white-button {
  display: inline-block;
  width: auto;
  height: 40px;
  line-height: 40px;
  text-align: center;
  height: 40px;
  border-radius: 30px;
  font-size: 18px;
  padding: 0px 15px;
  margin: 0 10px;
}

/* COMMON */
/* Layout */

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

.bg-purple {
  background-color: #7289da;
}

.container {
  width: 75%;
  max-width: 1300px;
  margin: 0 auto;
}

.col-25 {
  width: 25%;
  padding: 5px;
  text-align: center;
  /* debug */
  /* border: 3px dashed black; */
}

.col-50 {
  width: 50%;
  /* padding: 5px; */
  /* debug */
  /* border: 3px dashed black; */
}

.main-container {
  display: flex;
  width: 75%;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.end-container {
  display: flex;
  width: 95%;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

h1 {
  font-size: 42px;
}

p {
  margin-top: 20px;
  line-height: 25px;
  font-size: large;
}

/* Section Blu */
.sectionblu {
  background-image: url(../img/jumbo.png);
  background-size: 100% 100%;
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.monopinkbox {
  /* background-color: rgb(255, 135, 253); */
  /* border: 3px dashed rgb(0, 0, 0); */
  height: 300px;
  width: 700px;
  text-align: center;
  padding-top: 70px;
}

.font-white {
  color: white;
}

/* Section White */
.sectionwhite {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.colblue {
  display: flex;
  width: 70%;
  height: 500px;
  /* border: 3px dashed black; */
  /* background-color: rgba(30, 144, 255, 255); */
  justify-content: center;
  align-items: center;
}

.colpink {
  display: flex;
  width: 30%;
  height: 500px;
  /* border: 3px dashed black; */
  /* background-color: pink; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Section Green */
.sectiongreen {
  display: flex;
  background-color: lightgray;
  align-items: center;
  justify-content: center;
}

.monogreenbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(34, 139, 34, 255);
  border: 3px dashed rgb(0, 0, 0); */
  height: 900px;
  width: 100%;
  text-align: center;
}

.monogreenbox p {
  padding: 0px 70px;
}

.monogreenbox h2 {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Section Black */
.sectionblack {
  display: flex;
  background-color: rgba(35, 39, 42, 255);
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid gray;
}

.colred {
  /* background-color: rgba(240, 128, 128, 255); */
  width: 25%;
  height: 500px;
  border: 3px dashed black;
}

.colred h2 {
  font-size: 32px;
}

.colteal {
  display: flex;
  background-color: rgba(32, 178, 170, 255);
  width: 75%;
  height: 500px;
  border: 3px dashed black;
}

.tealdivision {
  background-color: rgba(32, 178, 170, 255);
  width: 25%;
  height: 500px;
  border: 3px dashed white;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(127, 255, 212, 255);
  width: 100%;
  height: 80px;
}

.endtag {
  background-color: salmon;
  border: 3px dashed black;
  padding: 5px;
  font-size: larger;
}
