/* RESET  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Whitney", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
  max-width: 100%;
}

/* HEADER */
.header {
  min-height: 80px;
  padding-top: 10px;
  background-color: #255ee9;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.nav {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-weight: normal;
  padding: 15px;
}

.nav a {
  color: white;
  text-decoration: none;
}

.white-button {
  display: inline-block;
  width: auto;
  height: 40px;
  line-height: 40px;
  text-align: center;
  height: 40px;
  border-radius: 30px;
  font-size: 18px;
  padding: 0px 15px;
  margin: 0 10px;
}

/* COMMON */
/* Layout */

.container {
  width: 75%;
  max-width: 1300px;
  margin: 0 auto;
}

.col-25 {
  width: 25%;
  padding: 5px;
  text-align: center;
}

.col-50 {
  width: 50%;
}

.main-container {
  display: flex;
  width: 75%;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.end-container {
  display: flex;
  width: 95%;
  justify-content: center;
  align-items: center;
  margin: 40px;
  border-bottom: 1px solid #7289da;
}

h1 {
  font-size: 42px;
}

p {
  margin-top: 20px;
  line-height: 25px;
  font-size: large;
}

/* Section Blu */
.sectionblu {
  background-image: url(../img/jumbo.png);
  background-size: 100% 100%;
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.monopinkbox {
  height: 300px;
  width: 700px;
  text-align: center;
  padding-top: 70px;
}

/* Section White */
.sectionwhite {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.colblue {
  display: flex;
  width: 70%;
  height: 500px;
  justify-content: center;
  align-items: center;
}

.colpink {
  display: flex;
  width: 30%;
  height: 500px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Section Green */
.sectiongreen {
  display: flex;
  background-color: lightgray;
  align-items: center;
  justify-content: center;
  background-image: url(../img/wave.svg);
}

.monogreenbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 900px;
  width: 100%;
  text-align: center;
}

.monogreenbox p {
  padding: 0px 70px;
}

.monogreenbox h2 {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Section Black */
.sectionblack {
  display: flex;
  background-color: rgba(35, 39, 42, 255);
  align-items: center;
  justify-content: center;
  height: 400px;
}

.colred {
  width: 25%;
  height: 400px;
  padding-top: 20px;
}

.colred h2 {
  font-size: 32px;
}

.colred ul {
  margin-top: 10px;
}

.colteal {
  display: flex;
  width: 75%;
}

.colteal ul {
  list-style: none;
  padding-left: 10px;
  color: white;
}

.colteal li {
  font-size: 14px;
  padding: 8px 0;
}

.tealdivision {
  width: 25%;
}

.social {
  display: inline-block;
  list-style: none;
  padding: 0 8px;
  font-size: 20px;
}

.link-list {
  list-style: none;
  font-size: 20px;
}

/* Footer */

.footer-section {
  display: flex;
  background-color: rgba(35, 39, 42, 255);
  align-items: center;
  justify-content: center;
}

.footer-container {
  display: flex;
  width: 95%;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
}

.endtag {
  font-size: larger;
}

/* UTILY TAGS   */

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

.bg-purple {
  background-color: #7289da;
}

.font-white {
  color: white;
}

.font-purple {
  color: #7289da;
}
